h1{
    text-align: center;

}

#opu{
    
    text-align: center;
    
    font-size: 30px;
}

body{
    background-color: rgba(135, 207, 235, 0.596);
}

#pic{
    text-align: center;
}
h2{
   
    color: white;
    text-align: center;
}

#np{
    text-align: center;
}